<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Document</title>
   <link rel="stylesheet"href="static.CSS">
 </head>
 <body>

   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">VIRTUAL EYE</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- USING CHECKBOX HACK -->

       <div class="menu">
         <li><a href="/">Home</a></li>
         <li class="services"></li>
         <li><a href="register.html">Register</a></li>
         <li><a href="login.html">Login</a></li>
         <li><a href="prediction.html">Demo</a></li>
       </div>
     </ul>
   </nav>
   <div class="drowning">
     <img style="height:670px; width:1520px"src="drowning.jpg">
   </div>
   <h1>About Project</h1>

 </body>
</html>