<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"href="static.CSS">
  </head>
<body>
<form>
  <div class="container">
    <h1>LOGIN</h1>
    <p>Login with your credentials.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>


    <p><a href="result.html" class="registerbtn">LOGIN</a>.</p>
  </div>


</form>
</body>
</html>
